<html>
	<head>
			<title>Imran's Blog</title>
	</head>
	<body>
			<div>
				<h1><a href="/">Imran Zeb's Blog</a></h1>
			</div>
			
			<div>
					<p>publised: 11.12.2014, 5:34 AM</p>
					<h2><a href="">My First post</a></h2>
					<p>I am Working to improve my Django skill in order to built a website</p>
			</div>
			
			<div>
					<p>publised: 11.12.2014, 5:35 AM</p>
					<h2><a href="">My First post</a></h2>
					<p>I improved my Django skills it just took one minute.</p>
			</div>
	</body>
	<p> Hi There!</p>
	<p>It Works!</p>
</html>